@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "All roles";
}

<h1>All Roles</h1>

<a class="btn btn-primary mb-2" asp-action="AddRole"><i class="bi bi-person-add"></i> Add Role</a>


@if (Model.Any())
{
    <table class="table col-3">
        <thead>
            <tr>
                <td><h5>Role</h5></td>
                <td></td>
            </tr>
        </thead>
        @foreach (var role in Model)
        {
            <tbody>
                <tr>
                    <td><i class="bi bi-people-fill"></i> @role.Name</td>
                    <td class="text-center">
                        <a asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-primary btn-sm"><i class="bi bi-pencil-square"></i> Edit</a>
                        <a asp-action="DeleteRole" asp-route-id="@role.Id" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Delete</a>
                    </td>
                </tr>
            </tbody>
        }
    </table>
}
else
{
    <h5>No roles yet, use the button above to add your first role.</h5>
}

